<style>
.chat-primary a {
  color: #FFFFFF;
  text-decoration: underline;
}

.toast-default {
  background-color: #FFFFFF;
}

.toast-title {
  color: #5f7676;
}

</style>

<div ng-include="'components/navbar/navbar.html'"></div>


<div class="col-md-12">
  <div class="col-md-8">
    <ul class="nav nav-tabs"><li class="dropdown pull-right tabdrop hide">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-angle-down"></i> </a>
      <ul class="dropdown-menu"></ul>
    </li>
    <li ng-class="{'active': room.id === currentRoom.id}" ng-repeat="room in getRooms()" ng-click="selectRoom(room)">
      <a ng-show="room.active" data-toggle="tab" aria-expanded="true">{{ room.name }}</a>
    </li>
  </ul>
  <div scroll-glue class="panel-chat well" id="chat" tabindex="5000" style="overflow-y: auto; outline: none;">
    <div class="chat-message" ng-class="{'me': message.sender === getCurrentUser()._id, 'chat-primary': message.sender !== getCurrentUser()._id}" ng-repeat="message in currentRoom.messages">
      <div class="chat-contact">
        <img ng-src="{{ ::message.sender.picture || 'assets/images/no_photo.png'}}" alt="">
      </div>
      <div class="chat-text">
        <small ng-if="message.sender._id !== getCurrentUser()._id" style="font-size: 0.8em;">{{ ::message.sender.name }}</small>
        <small ng-if="message.sender === getCurrentUser()._id" style="font-size: 0.8em;">You
          <em style="color: #b1b1b1" ng-if="message.blind && message.blind.length === 1">({{ ::message.blind[0] }} is no longer connected and he will not see this message)</em>
          <em style="color: #b1b1b1" ng-if="message.blind && message.blind.length > 1">(One or more users of this channel are no longer connected and will not see your message)</em>
          </small>
        <small style="font-size: 0.8em;float:right;">{{ ::message.timeStamp | date:"dd/MM/yyyy 'at' hh:mm:ssa" }}</small>
        <br/>
        <div ng-bind-html="message.body | enhanceText"></div>
      </div>
    </div>
  </div>
  <div ng-show="currentRoom" style="margin: 5px;">
    <span style="margin-left:5px;" ng-repeat="peer in getPeersFromRoom(currentRoom)" class="badge badge-primary">
      {{ peer.name }}&nbsp;
      <i style="cursor: pointer;" class="fa fa-times" ng-click="ban(user)"></i>
    </span>
    <span class="badge badge-default">You</span>
  </div>
  <form ng-show="currentRoom" ng-submit="sendMessage()">
    <div class="input-group">
      <input type="text" focus-on-change="message" placeholder="Enter your message here" ng-model="message" class="form-control">
      <span class="input-group-btn">


        <div class="btn-group dropup">
          <button type="button" class="btn btn-midnightblue-alt dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            <i class="fa fa-cog"></i> <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </div>


        <!-- <button type="button" ng-click="additionActivation()" ng-class="{'btn-inverse': inAddition, 'btn-default': !inAddtion }" class="btn"><i class="fa fa-plus"></i></button> -->
        <button type="submit" class="btn btn-default"><i class="fa fa-arrow-right"></i></button>
      </span>
    </div>
  </form>
</div>
<div class="col-md-4">
  <div class="panel">
    <div class="panel-body">
      <ul class="chat-users m0">
        <h4>Online<small>({{ getConnectedUsersCount() }})</small></h4>
        <input type="text" placeholder="Search" ng-model="query" class="input-sm form-control">
        <li style="margin-top: 10px;" data-stats="online" ng-repeat="peer in peers | filter:query" ng-show="peer.connected" ng-click="setRoomActive(peer._id)">
          <a href="#">
            <img ng-src="{{ peer.picture || 'assets/images/no_photo.png'}}" alt="">
            <span>{{ peer.name }}</span>
          </a>
        </li>
        <hr class="outsider">
        <h4>Offline<small> ({{ peers.length - getConnectedUsersCount() }})</small></h4>
        <li data-stats="offline" ng-repeat="peer in peers" ng-show="!peer.connected" ng-click="test(peer._id)">
          <a href="#">
            <img ng-src="{{ peer.picture || 'assets/images/no_photo.png'}}" alt="">
            <span>{{ peer.name }}<img style="padding: 5px;" ng-show="peer.checking" src="assets/loader/loader.gif" alt="Loader"></span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
</div>
